/* Seletores CSS - Aula 01 */
/* Seletor Universal -*/
/* * {
    border: 1px solid red;
} */

/* Seletor de texto */
/* h1 {
    color: green;
} */

/* Seletor de class */
/* .verde {
    color: green;
}

p.verde {
    color: green;
} */

/* Seletor de ID */
/* #cabecalho {
    border: 1px solid blue;
} */

/* Seletor de filho */
/* li>span>a {
    color: red;
    text-decoration: none;
} */

/* Seletor de descendentes */
/* li a {
    color: green;
    font-size: 48px;
} */

/* Seletor de irmão adjacente */
/* h1+p {
    color: blueviolet;
} */

/* Seletor de irmão geral */
/* h1~p {
    color: red;
    font-size: 2rem;
} */


/* ----------------------------------------------------------- */
/* Herança e Especificidade - Aula 02 */
/* Por padrão, border e background não são herdados do body*/
/* body {
    color: red;
    border: 1px solid blue;
} */

/* A especificidade é calculada usando a seguinte fórmula, dividida em quatro partes:

A (IDs): Cada ID tem uma alta especificidade.
B (classes, pseudo-classes): Classes e pseudo-classes têm especificidade intermediária.
C (elementos, pseudo-elementos): Seletores de elementos e pseudo-elementos têm a especificidade mais baixa.
Exemplo de cálculo de especificidade:
ID: #menu (especificidade = 100)
Classe: .item (especificidade = 10)
Elemento: div (especificidade = 1) */

/* Usar !important com cautela */
/* p {
    color: red !important;
}

p {
    color: blue;
} */

/* Se um seletor for mas específico que outro a regra mais específica será aplicada */
h2 {
    color: blue;
}

* {
    color: red;
}

h2#amarelo {
    color: yellow;
}

h2.verde {
    color: green;
}


